
<h1>Team</h1>

Team Name: <%=@heroes[:name]%>
<br>
Team Motto: <%=@heroes[:motto]%>

<h2>Heroes</h2>
<p>
  <%@heroes[:hero].each.with_index do |hero, index|%>
  Hero Name:
  <%=hero[:name][index]%>
  <br>
  Hero Power:
  <%=hero[:power][index]%>
  <br>
  Hero Biography:
  <%=hero[:bio][index]%>
  <br>
  <%end%>

</p>
